.table-view {
    -fx-background-color: #8a8f8f;
}

.table-view .column-header-background {
    -fx-background-color: rgb(109, 106, 106);
    -fx-text-fill: white;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
    -fx-effect: dropshadow(two-pass-box, rgb(75, 90, 90), 15, 0.0, 0.1, 1);
}

.table-view .column-header,
.table-view .filler {
    -fx-siza: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Georgia;
}

.table-row-cell:selected {
    -fx-background-color: whitesmoke;
    -fx-text-background-color: #303db8;
}

.table-view .cell {
    -fx-cell-size: 35;
    -fx-alignment: center;
    -fx-background-color: #656b6b;
    -fx-border-color: #656b6b;
    -fx-text-fill: lightgray;
}
.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Trebuchet;
}
#tableColumnEdit .button{
    -fx-background-color: #60b2ff;
}

#tableColumnRemove .button {
    -fx-background-color: #9c3117;
}